<div class="container" style="position:relative">
<!--body start-->
<div class="row row-centered">
  <!--signup section-->
  <form action="/user/join_process" method="POST">
  	</br>
  	</br>
  	
	  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-9 col-centered">
	    <div class="form-group form-inline">
		    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-centered">
		      <label>ID :</label>
		    </div>
		    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-centered">
		      <input type="text" name="username" class="form-control" style="width: 90%;">
		    </div>
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-centered">
		      <label>PW :</label>
		    </div>
		    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-centered">
		      <input type="password" name="password" class="form-control" style="width: 90%;">
		    </div>
		  </div>
		  
		  <div class="form-group form-inline">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-centered">
				  <label>Univ :</label>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-centered">
				  <input type="text" name="university" class="form-control" style="width: 90%;">
				</div>
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-centered">
				  <label>major :</label>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-centered">
				  <input type="text" name="major" class="form-control" style="width: 90%;">
				</div>
		  </div>
		  
		  <div class="form-group form-inline">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-centered">
				  <label>email :</label>
				</div>
			  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-centered">
				  <input type="text" name="email" class="form-control" style="width: 90%;">
				</div>
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-centered">
				  <label>intro :</label>
				</div>
			  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-centered">
				  <input type="text" name="introduction" class="form-control" style="width: 90%;">
				</div>
			</div>
			
			<div class="form-group form-inline">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-centered">
					<label>sex :</label>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-centered ">														
					<div class="btn-group btn-group-justified " data-toggle="buttons"  style="display:inline-block;">
						<div class="btn-group" >
							<label class="btn btn-default active">
								<label>남자</label><input type="radio" value="true" checked="checked" name="sex" id="user_sex_m" />
							</label>
						</div>
						<div class="btn-group">
							<label class="btn btn-default">
								<label>여자</label><input type="radio" value="false" name="sex" id="user_sex_m" />
							</label>									
						</div>
					</div>									
				</div>
			</div>
			
			<div class="form-group form-inline">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered">
					<button type="submit" class="btn btn-lg btn-default btn-group-justified" >가입하기</button>
				</div>
			</div>
		 </div>
	</form>
</div>
</div>