<div id="intro">
    <img id="intro-img" align="middle" src="/assets/74_wj_7-2_117">
    <div>
    <p>열정을 가진 청년들이 모여 관심분야에 대한 프로젝트나 대회등을 위해 팀원을 모집할 수 있게하여</p>
    <p>사회를 더 나은 세상으로 이끄는 주체가 될 수 있도록 하는 서비스를 제공하는 사이트입니다.</p>
    <p>즉, 팀을 구축하고 프로그램을 제작하는데 도움을 줄 수 있는 팀빌딩의 장을 마련하기 위한 웹서비스를 제공합니다.</p>
    <p>회원 가입시 회원정보란의 info에 자신만의 자격증이나 경험 또는 장점등을 기입해주시면 원활한 팀빌딩에 도움이 될 수 있습니다. </p>
    <p>또한, 프로젝트 카드 하단에 있는 별모양의 버튼을 클릭해주시면 좋아요 보기 칸에서 관심이 있는 프로젝트만을 모아 보실 수 있습니다. </p>
    <p>팀원의 모집에 쪽지 기능을 이용해보세요! </p>
    </div>
</div>